.idea
.DS_Store
.log
.vs
.vscode
dx9csdk
gdiplus
stlport
Utility
bin/client/debug
bin/client/release
bin/client/UserData
bin/client/data
bin/Client/CoreClient.pdb
bin/Client/Represent2.pdb
bin/Client/Represent3.pdb
bin/Client/CoreClient.dll
bin/Client/CoreClient.map
bin/Client/ExpandPackage.dll
bin/Client/FilterText.dll
bin/Client/Game.exe
bin/Client/LuaLibDll.dll
bin/Client/Rainbow.dll
bin/Client/Represent2.dll
bin/Client/Represent2.map
bin/Client/Represent3.dll
bin/Client/Represent3.map
bin/Client/engine.dll
bin/Client/heaven.dll
bin/Server/Coreserver.pdb
bin/server/debug
bin/server/release
bin/server/database
bin/server/dbfriend
bin/server/payserver_log
bin/server/relay_log
bin/server/relayserver_log
bin/server/TongDB
bin/server/TongMemberDB
bin/Server/Bishop.exe
bin/Server/CoreServer.dll
bin/Server/CoreServer.map
bin/Server/FilterText.dll
bin/Server/GameServer.exe
bin/Server/Goddess.exe
bin/Server/Heaven.dll
bin/Server/LuaLibDll.dll
bin/Server/Rainbow.dll
bin/Server/S3Relay.exe
bin/Server/S3RelayServer.exe
bin/Server/Sword3PaySys.exe
bin/Server/engine.dll
SwordOnline/Sources/Engine/Debug/
SwordOnline/Sources/Engine/Release/
SwordOnline/Sources/ExpandPackage2.0/Debug/
SwordOnline/Sources/ExpandPackageStaticLib/Debug/
SwordOnline/Sources/FilterText/Debug/
SwordOnline/Sources/KLVideo/Debug/
SwordOnline/Sources/Library/LuaLib/Debug/
SwordOnline/Sources/MultiServer/Bishop/Debug/
SwordOnline/Sources/MultiServer/Bishop/Release/
SwordOnline/Sources/MultiServer/Common/Debug/
SwordOnline/Sources/MultiServer/Common/Release/
SwordOnline/Sources/MultiServer/GameServer/Debug/
SwordOnline/Sources/MultiServer/GameServer/Release/
SwordOnline/Sources/MultiServer/Goddess/Debug/
SwordOnline/Sources/MultiServer/Goddess/Release/
SwordOnline/Sources/MultiServer/Heaven/Debug/
SwordOnline/Sources/MultiServer/Rainbow/Debug/
SwordOnline/Sources/MultiServer/S3Relay/Debug/
SwordOnline/Sources/MultiServer/S3Relay/Release/
SwordOnline/Sources/Network/ESClient/Debug/
SwordOnline/Sources/Network/ESClient/Release/
SwordOnline/Sources/Network/Heaven/Debug/
SwordOnline/Sources/Network/IOCPServer/Debug/
SwordOnline/Sources/Network/Rainbow/Debug/
SwordOnline/Sources/Represent/D3DFrame/Debug/
SwordOnline/Sources/Represent/Represent2/Debug/
SwordOnline/Sources/Represent/Represent2/Release/
SwordOnline/Sources/Represent/Represent3/Debug/
SwordOnline/Sources/Represent/Represent3/Release/
SwordOnline/Sources/S3Client/Debug/
SwordOnline/Sources/S3Client/Release/
SwordOnline/Sources/Sword3PaySys/S3AccServer/Debug/
SwordOnline/Sources/Sword3PaySys/S3AccServer/Release/
SwordOnline/Sources/Sword3PaySys/S3RELAYSERVER/Debug/
SwordOnline/Sources/Sword3PaySys/S3RELAYSERVER/Release/
SwordOnline/Sources/ExpandPackage2.0/Release/
SwordOnline/Sources/ExpandPackageStaticLib/Release/
SwordOnline/Sources/FilterText/Release/
SwordOnline/Sources/Library/LuaLib/Release/
SwordOnline/Sources/MultiServer/Heaven/Release/
SwordOnline/Sources/MultiServer/Rainbow/Release/
SwordOnline/Sources/Engine/Engine___Win32_OutRead_Debug/
SwordOnline/Sources/Engine/Engine___Win32_OuRead_Release/
SwordOnline/Sources/FilterText/FilterText_StaticLib___Win32_Debug/
SwordOnline/Sources/FilterText/FilterText_StaticLib___Win32_Release/
SwordOnline/Sources/MultiServer/Bishop/Bishop.plg
SwordOnline/Sources/Core/ServerRelease
SwordOnline/Sources/Core/ServerDebug
SwordOnline/Sources/Core/ClientRelease
SwordOnline/Sources/Core/ClientDebug
SwordOnline/Sources/Core/Core___Win32_ToolVersion_Debug/
SwordOnline/Sources/Core/Core___Win32_ToolVersion_Release/
SwordOnline/Sources/Core/Core___Win32_Server_Release/
SwordOnline/Sources/Core/Core___Win32_Server_Debug/
SwordOnline/Sources/Core/Core___Win32_Client_Debug/
SwordOnline/Sources/Core/Core___Win32_Client_Release/
SwordOnline/Sources/MultiServer/GameServer/Common.lib
SwordOnline/Lib/LuaLibDll.dll
SwordOnline/Lib/LuaLibDll.lib
SwordOnline/Lib/Represent.exp
SwordOnline/Lib/Represent.lib
SwordOnline/Lib/debug/CoreClient.lib
SwordOnline/Lib/debug/CoreServer.lib
SwordOnline/Lib/debug/ExpandPackageStaticLib.lib
SwordOnline/Lib/debug/FilterText_StaticLib.lib
SwordOnline/Lib/debug/common.lib
SwordOnline/Lib/debug/engine.lib
SwordOnline/Lib/release/CoreClient.lib
SwordOnline/Lib/release/CoreServer.lib
SwordOnline/Lib/release/ExpandPackageStaticLib.lib
SwordOnline/Lib/release/FilterText_StaticLib.lib
SwordOnline/Lib/release/common.lib
SwordOnline/Lib/release/engine.lib
SwordOnline/Sources/MultiServer/GameServer/GameServer.plg
SwordOnline/Sources/Library/LuaLib/LuaLibDll.plg
SwordOnline/Sources/FilterText/FilterText.plg
SwordOnline/Sources/Core/Core.plg
bin/Server/Startup.log
SwordOnline/Sources/FilterText/FilterText_StaticLib.plg
SwordOnline/Sources/S3Client/S3Client.plg
